[2016-10-05 13:39] fuzzyami opened #15 "Support virtual guests with IPV6"
We would like to spin up lots and lots of hosts with IPV6. The feature is woefully missing from the original terraform plugin for SL. It is supported in this version?

thanks!

[2016-10-05 14:50] renier commented on #15
@fuzzyami This is not available yet.

[2016-10-05 14:53] fuzzyami commented on #15
Thanks for the prompt reply. This seriously inhibits our ability to deploy hosts at large scale.

[2016-10-06 20:35] dnwe opened #18 "Unable to provision bare metal with specific vlan"
Experimenting with the bare-metal/tags branches I attempted to order a bare-metal thus:

[code]

Errors out with:

There seems to be [some discussion](http://stackoverflow.com/questions/35339009/softlayer-api-hardware-network-vlan-details-during-provision-of-baremetal-se) along similar lines on the internet around package 50 vs 200 (non-fast vs fast provision) that may be related.

[2016-10-06 20:57] dnwe commented on #18
Hmm googling around the issue it does seem to be that BARE_METAL_SERVER (package 200) is the only one that has presets, whereas BARE_METAL_INSTANCE (package 50) doesn't. If the fixedConfigPresets do indeed force a fast provision (where you cannot specify VLAN), then perhaps if a vlan_id is specified in the configuration then we could call [getActivePresets](https://api.softlayer.com/rest/v3/SoftLa

[2016-10-06 21:14] renier commented on #18
@dnwe not a bad idea for now. I would prefer to go further and just allow people to specify cpu/memory/etc. which would be mutually exclusive to the preset setting. will be looking into this.

[2016-10-07 00:17] iankendrick opened #19 "Creating multiple (>2) lb_local_service results in timeouts, putting terraform in inconsistent state"
When terraform several multiple lb_local_service objects simultaneously, some of the creations will time-out. Following apply, Softlayer seems to have correct state, but terraform has incorrect IP for the timed-out lb_local_service objects. Refreshing and re-running plan does not correct the issue, and tf state file must be manually edited.
### Steps to reproduce:

Run terraform file to create 5 s

[2016-10-07 13:14] riethm commented on #19
Hi @iankendrick - Thanks for reporting

This appears to have been due to a bad filter (leading to the mixup of services/ipAddressIds), and concurrency problems due to multiple Service lifecycle methods all updating the common load balancer object at once.  Plus the issue causing the second apply to fail - which was fixed by @renier  in master yesterday.

All should be fixed in #20.  I was able to

[2016-10-07 16:27] bondyk opened #21 "Terraform destroys incompleted SL virtual guest if re-run 'terraform apply' after Timeout error"
If creating a new virtual guest takes more than 10 minutes then terraform exits with timeout error and SoftLayer continues creating server. When re-run 'terraform apply' then after refreshing the state it starts destroying that instance and creates a new one afterwards.
## Steps to reproduce
- Create softlayer_virtual_guest resource with reference to private image.
- Run 'terraform apply' and wait

[2016-10-07 16:55] riethm commented on #21
@bondyk, can you post the output of `terraform plan`, after the initial failure, but before re-running `terraform apply`?

[2016-10-07 17:18] bondyk commented on #21
Output of 'terraform plan'

[code]

[2016-10-07 17:32] bondyk opened #22 "Make timeouts configurable"
SoftLayer provider has hard-coded timouts for 3 operations in resource_softlayer_virtual_guest.go:
- WaitForUpgradeTransactionsToAppear (5 minutes)
- WaitForPublicIpAvailable (30 minutes)
- WaitForNoActiveTransactions (10 minutes)

It would be great to have it configurable.

In my case terraform is always failing after 10 minutes of waiting for SoftLayer to finish creating a virtual guest (WaitFor

[2016-10-07 20:56] #19 closed, assigned to riethm

[2016-10-07 21:17] renier commented on #21
I'm going to increase the timeout. Also, I'm going to make sure that the Id is not saved until after we  are done waiting for the creation to complete. That way, if it were to timeout again, it won't have any ID in play yet that would make it destroy an existing VM, at the least.

[2016-10-08 15:24] riethm commented on #21
@bondyk I think the problem here is that we don't (yet) support specifying the vlan ID in the virtual_guest configuration:

[code]

You have to specify the vlan number and primary_router_hostname for each:

[code]

(assuming these are the values you intended)

Because you are specifying the (optional) vlan sections, but not providing any of the recognized map keys, terraform is interpreting as a d

[2016-10-08 15:43] renier commented on #21
@riethm, why isn't terraform complaining when you provide a value out of schema then?

[2016-10-08 15:55] riethm commented on #21
@renier Good question.  I guess that it is because the vlan schema elements are map types, and terraform only validates known map keys.  And unfortunately, it doesn't limit to the same set when computing diffs.

[2016-10-08 15:57] renier commented on #21
@riethm, about when to set the ID, in the case of a timeout, do you think how it is now it will not do a force new of the resource on a subsequent refresh/apply?

[2016-10-08 16:09] riethm commented on #21
It shouldn't, so long as:
1. By the time the ID is available/set, all other attributes of the virtual_guest could be retrieved from the API on a subsequent refresh/apply (pretty sure this is true - when we have an ID from SL, the full virtual_guest object is available in the API)
2. There is nothing in the configuration which would artificially force a new resource (e.g., an unknown map key)

[2016-10-08 16:13] renier commented on #21
@riethm, ok, so I'll close the PR and let's wait to see what happens when the correct properties are used.

[2016-10-08 16:21] bondyk commented on #21
@riethm I've just tested with specified vlan number and router hostname. After timeout failure terraform doesn't see any changes to trigger update or destroy of the resource and exits successfully. But it still doesn't show that the resource creation is in progress (it's not so bad though).

[2016-10-08 19:00] riethm opened #24 "Ignore whitespace when computing diffs in ssh public keys"
Whitespace is trimmed from ssh public keys as they are read back from SoftLayer.  If the original public key uploaded in a softlayer_ssh_key resource contains a newline, this triggers an unexpected diff.

(Terraform's `DiffSuppressFunc` could be used to suppress a diff when both the old and new key values are equal, less any whitespace differences)
## Steps to reproduce
- Generate an ssh key pair,

[2016-10-08 23:19] #21 closed, assigned to nobody

[2016-10-09 02:26] #24 closed, assigned to riethm

[2016-10-13 16:03] Ari-E-S opened #28 "softlayer_image_template datasource only supports private images"
I tracked the limitation all the way to softlayer-go
vendor/github.com/softlayer/softlayer-go/services/account.go, line 470:

[code]

Is there any support planed for public images?

[2016-10-13 17:17] renier commented on #28
@arielsalvo, yes, we can do that. I see that [this](http://sldn.softlayer.com/reference/services/SoftLayer_Virtual_Guest_Block_Device_Template_Group/getPublicImages) exists, so we'd have to add a call to that.

[2016-10-14 19:17] #28 closed, assigned to nobody

[2016-10-19 15:09] pat610 opened #30 "Ability to return network info"
It would be great if this provider was able to return some extra network information.  Currently I have to make a separate API call to get it.

https://$user:$apiKey@api.softlayer.com/rest/v3/SoftLayer_Virtual_Guest/$vsiId/getBackendNetworkComponents?objectMask=mask[primarySubnet[gateway,netmask]]

Method: Get

[2016-10-19 15:12] pat610 opened #31 "Ability to return virtual guest password"
It would be great to be able to retrieve this from the provider.  Currently I'm retrieving it through the API.

[code]

[2016-10-19 15:13] renier commented on #30
@pat610 That information is not useful for interpolation into other resources. It would only be useful for a human to see on `terraform show`, but why not use the portal in that case?

[2016-10-19 15:19] renier commented on #31
@pat610 Same counter-argument as with #30. Not useful to inform other resources, but useful for a human to read after _apply_ or _show_. But then, why not use the portal for that, if a human is the reader?

[2016-10-19 15:21] renier commented on #31
Also, highly insecure to just display the password on screen

[2016-10-19 16:19] dnwe commented on #30
I thought you could already achieve this in the outputs?

e.g.,

[code]

[2016-10-19 16:27] pat610 commented on #30
In our use case we are kicking off an Ansible playbook that installs some software on the vm.  One of the inputs the software requires is this network information.  The whole process is automated.

@dnwe We are already using outputs to get the ipv4_address as well as some other fields (id, name, domain) but gateway and subnet mask are not available.

[2016-10-19 16:30] renier commented on #30
@pat610, so the gateway and netmask can be obtained from `ifconfig` output on the system by Ansible, right?

[2016-10-19 16:38] pat610 commented on #31
We are automating Terraform and passing the password on to an Ansible playbook.  The ansible playbook requires the password as part of the software installation.

[2016-10-19 16:46] dnwe commented on #30
Yeah aren't these in the network facts that ansible gathers itself for each host during setup?

[2016-10-19 17:54] renier commented on #31
@pat610 It would be easier to provision the VM with ssh public keys, with Ansible holding the private key necessary to access those password-less.

[2016-10-19 18:06] pat610 commented on #31
We are using ssh public keys.  Ansible is able to connect without a password.  The password is needed by our software installation.  The software heavily modifies the vm including resetting the root password, I need to pass in this password so the root password matches what is specified in the portal.

[2016-10-19 18:10] dnwe commented on #31
@pat610 why not just take a backup of /etc/shadow in ansible before you run this software installation and then restore /etc/shadow afterwards?

[2016-10-19 18:24] renier commented on #31
@pat610 I see. This seems like a very special case. Don't think it is enough to add it in terraform.

I don't see how making the password in the portal match what is on the system would be desirable (potentially to keep your snippet above working?). It implies that even though you are using ssh keys, there are other things that will need the password to login, which is not so good. Can't those oth

[2016-10-19 19:20] pat610 commented on #30
I'm using red hat 7.  ifconfig is deprecated.  It would be easier if I could just get it from terraform the same way I get it through the API.  I don't want to have to deal with parsing output.

[2016-10-19 19:32] renier commented on #30
@pat610 Ok, so `ip addr show`. Terraform is not meant to be another SoftLayer client library, exposing every field known on the docs, just in case. Any field we expose is primarily because it can be used by other resources, and secondarily because it is obviously essential for post-provisioning. This one is not looking like like it fits any of those cases.

[2016-10-19 19:38] pat610 commented on #31
@renier We want the portal password to match the system password so that operations can look up the password for the system in the portal.

@dnwe Probably a better way to go about it.  Thanks.

Thanks for the help guys, can probably close this issue.

[2016-10-19 19:41] pat610 commented on #30
Ok, I will use one of the other suggested solutions then.  Thanks!

[2016-10-19 19:41] #30 closed, assigned to nobody

[2016-10-19 19:42] #31 closed, assigned to nobody

[2016-10-20 23:19] Ari-E-S opened #33 "Issues with latest version and old state"
Hi!

I seem to have issues after upgrading to the latest versions of this plugin when refreshing states that already existed.
I found that, if I revert to a previous version, everything works fine.
From what I could test, the latest commit that works well is 084e001745ed44da69f2a9988d24513b9aeea2bc.

Is there anything I'm missing?

Thanks!
   --Ariel

The tail end of crash.log goes like this:

[co

[2016-10-20 23:56] renier commented on #33
@arielsalvo When you get that error, which revision do you have in vendor/vendor.json for github.com/renier/xmlrpc?

[2016-10-21 14:54] Ari-E-S commented on #33
My current setup is consistently showing the error.

[code]

[code]

./github.com/softlayer/terraform-provider-softlayer/vendor/vendor.json

[code]

[$GOPATH/src/github.com/renier/xmlrpc] master ± git describe --all
heads/master

[2016-10-21 15:55] renier commented on #33
@arielsalvo can I bother you for a sample of a .tf I can use to recreate it? I may have a fix already, but not sure until I can exactly recreate and debug.

[2016-10-21 21:49] renier commented on #33
@arielsalvo Was able to recreate the problem. Fixed in 26ee572ee3d2ec6727dfcf00cce13fe13d4f2b1b.

BTW, this was a bug in the xmlrpc transport. REST is the default transport, so you must have an xmlrpc endpoint url in your .softlayer file.

[2016-10-21 21:49] #33 closed, assigned to nobody

[2016-10-22 11:22] Ari-E-S commented on #33
Excellent! That seems to have done it....

Indeed, I have an xmlrpc endpoint but I don't think I put it there myself.... I think it was "slcli config setup"

[code]

Do you recommend REST as transport?

[2016-10-22 16:53] renier commented on #33
@arielsalvo xmlrpc should work fine now. I'm also using it as my default now, so If there are any latent bugs, I'll hit find them.

[2016-10-23 03:52] Ari-E-S commented on #28
Sorry.... Didn't have much chance to test this until now.

Seems it doesn't get to the new code because of lines 48-50

[2016-10-23 05:05] renier commented on #28
@arielsalvo ah, sorry. should work now.

[2016-10-24 19:36] Freyert opened #37 "Getting Started with Dev"
Hasn't been a very straightforward experience, some of it is probably within the scope of the project to control others were probably some oddities with Go that I need to get over.
### README Steps

If I follow the README word for word I end up with this error:

[code]

Which is expected because none of the directions instruct you to clone this directory into your $GOPATH following the Go package

[2016-10-24 20:15] renier commented on #37
@Freyert You seem to be doing all right, despite initial frustration with Go paths, etc. As I heard one professor say once "nothing furthers education like frustration".

The instructions say how to install the provider, before the development setup section. Had this step been done, you would not have gotten the error. You think this should be reiterated in the development setup section?

Once you

[2016-10-24 20:50] Freyert commented on #37
@renier yes I think you've taken care of most of the problems. As a novice Go developer it wasn't clear to me that Go would preserver the version control data. That's a pretty nifty feature.

Thanks for the quick turn around!

[2016-10-24 20:50] #37 closed, assigned to nobody

[2016-10-25 04:20] renier opened #38 "VM upgrade fails over xmlrpc"
[code]

_type mismatch - can't unmarshal slice to struct_

[2016-10-25 04:48] Ari-E-S opened #40 "Issue creating vlan"
I'm having issues creating my first VLAN (never tried it before)

The plan is build without issues but, when trying to apply, an error comes up.

This code:

[code]

Gets me this error:

[code]

I checked the data types for each field and they seem to match. What am I missing?

I'm already using v1.0.1

[2016-10-25 04:57] renier commented on #40
@arielsalvo Probably another issue with xmlrpc. Duplicate of #38 most likely.

you can comment out the endpoint from your ~/.softlayer file for now as a workaround.

[2016-10-25 05:04] Ari-E-S commented on #40
That changed the error to this:

[code]

This is a new account so no devices or vlans or anything has been created yet.
Is it normal?

[2016-10-25 12:35] Freyert opened #41 "Ordering Network_Storage"
External network storage is a key component in cloud architecture, being able to orchestrate ISCSi ordering would be extremely useful.

Unfortunately, none of the [Network_Storage](https://sldn.softlayer.com/reference/services/SoftLayer_Network_Storage) objects support the `createObject` method and therefore require interaction with the  [`Product_Order::placeOrder`](http://developer.softlayer.com

[2016-10-25 12:49] renier commented on #40
@arielsalvo That new error actually says what the problem is. And yes, that can happen in an account. You should contact support about it.

Can you create a VLAN through the portal?

[2016-10-25 14:09] Freyert commented on #41
Here's an example of [using the billing](https://github.com/softlayer/terraform-provider-softlayer/blob/master/softlayer/resource_softlayer_bare_metal.go#L256):
1. create the [order template](https://github.com/softlayer/terraform-provider-softlayer/blob/master/softlayer/resource_softlayer_bare_metal.go#L266).
2. Place the [order](https://github.com/softlayer/terraform-provider-softlayer/blob/mast

[2016-10-25 23:36] Ari-E-S commented on #40
I created the machines with terraform which, in turn, created the vlans (had to get these out to deliver)
I then picked up the created vlans with a datasource.

I opened a ticket with SL support but it didn't get me an appropriate answer so we'll escalate it.

I'll let you know if I get news.

in any case, should we leave this one open to work on the xmlrpc bug or join it with #38?

[2016-10-26 06:03] renier commented on #40
@arielsalvo As far as I know, VLANs don't get created as a side effect of ordering VMs. Your VMs get assigned to pre-existing VLANs in the account.

I'm leaving this open for now.

[2016-10-26 16:19] Ari-E-S commented on #40
@renier the very first VLAN (and subnet) of each kind (public/private) gets created with the first machine on the account.
I had to create one first because I need to specify the VLAN id in the definition of the 2 machines I'm creating so they are both added to the same VLANs.

[2016-10-26 16:36] renier commented on #40
@arielsalvo Ok, I see. You can also deal with that in the same terraform run by using `depends_on` on the second and subsequent VM resource. They would all depend on the first one being created first, and then they can refer to the vlan ids it got.

[2016-10-26 16:38] renier commented on #40
Actually, you should not need to use depends_on if you refer to another resource. Terraform should understand the dependency graph automatically.

[2016-10-26 22:16] renier commented on #38
Fixed in 6c5defa68fe4e5fde5e6777a64845b198c77123c and bb77474d9e97ebbf1b08d2c51e313a5f95f319a1

[2016-10-26 22:16] #38 closed, assigned to renier

[2016-10-26 22:16] renier commented on #40
Fixed in 6c5defa68fe4e5fde5e6777a64845b198c77123c and bb77474d9e97ebbf1b08d2c51e313a5f95f319a1

[2016-10-26 22:16] #40 closed, assigned to renier

[2016-10-28 10:30] giseongeom opened #43 "Error message "Order is missing the following category: Disk Controller" when ordering bare-metal"
When tried to create bare-metal, terraform fail with the error 'Error ordering bare metal server: SoftLayer_Exception_Order_MissingCategory'
### example.tf

[code]
### terraform plan and apply

[code]
### Environment Information

Operating System: msys on Windows 10 version 1607
Terraform version: 0.7.7 (Windows amd64)

[2016-10-28 17:14] renier commented on #43
@giseongeom Are you using the [latest version](https://github.com/softlayer/terraform-provider-softlayer/releases) of the provider? And do you have an endpoint_url defined in ~/.softlayer?

[2016-10-28 17:26] giseongeom commented on #43
Yes. I'm using latest version (1.2.0) of provider. And the following is ~/.softlayer file
(For security concern, I removed username & api_key)

[code]

[2016-10-28 17:44] renier commented on #43
@giseongeom Can you try again by removing the _endpoint_url_ from ~/.softlayer?

[2016-10-28 17:54] giseongeom commented on #43
@renier I tried again after removing _the endpoint_url_. But same result.

[code]

[2016-10-28 18:02] renier commented on #43
Ok, thanks. So that preset, since it calls for RAID, requires additional information that we are not passing.

[2016-10-31 16:05] Freyert commented on #41
Here's a helpful [StackOverflow post](http://stackoverflow.com/questions/35838651/api-for-listing-all-performance-storages-for-a-user) for getting all network storage associated with an account. Need a method for _user_ to uniquely identify these storage objects.

---

Essentially:
1. Account::getNetworkStorage
   - lists all network storage associated with an account.
   - add masks to get the in

[2016-11-02 20:59] Freyert opened #44 "Add simple documentation for running acceptance tests."
I discovered terraform's official documentation on the matter, but it would probably help developers contribute if there was a link to that doc, a description of the environments that must be set, and how to run the tests.

I've gathered that these are the env variables from the official doc:
[code]

but it would be good to add this to the documentation in order to accelerate the rate at which dev

[2016-11-04 11:42] akaspin opened #45 "Plugin not provides credentials on import"
I'm trying to use terraform with SL. But I can't import existing infrastructure:

sl.tf :
[code]

Terraform apply works well:
[code]

Key is created. But if I try to import - I got following error:

[code]
[full log](https://github.com/softlayer/terraform-provider-softlayer/files/571350/tf.log.zip)

This also happens if I try to import any other resource.

UPD: Found workaround:

[code]

[2016-11-04 19:57] minsikl commented on #45
In order to import resources, the provider should be configured with environment variables. Please check the [Link](https://www.terraform.io/docs/import/usage.html). If `SL_USERNAME` and `SL_API_KEY` are configured as environment variables, the import will work.

[2016-11-04 20:40] akaspin commented on #45
@minsikl I exported `SL_*` and `SOFTLAYER_*` before.

[2016-11-05 02:36] minsikl commented on #45
@akaspin
If `SL_*` is not configured, `terraform import` returns
`"No SoftLayer credentials were found. Please ensure you have specified them in the provider or in the environment (see the documentation)."`

If `SL_*` has right credentials but there is no resource or the user does not have proper privileges, `terraform import` returns
`"Response:  {"error":"Unable to find object with id of '717079

[2016-11-05 03:04] #45 closed, assigned to minsikl

[2016-11-10 16:51] bondyk opened #47 "Sometimes terraform marks virtual guests as created but actually there are still pending transactions"
Sometimes it happens that terraform completes job too early saying that virtual guests are created but actually there are still pending transactions (can be checked via SoftLayer web UI) and of course the hosts are unreachable via ssh.
Usually it takes about 20 minutes to create Virtual Guests but sometimes terraform completes the job in a minute or so.

Normal process:
[code]
Abnormal process:
[c

[2016-11-10 16:56] renier commented on #47
@bondyk Are you using the released terraform binary version 0.7.x? Are you using REST or XMLRPC endpoint? (check your ~/.softlayer; default is REST)

[2016-11-10 17:01] bondyk commented on #47
@renier terraform of version 0.7.5. and default endpoint. BTW I don't see file ~/.softlayer

[2016-11-10 17:05] bondyk commented on #47
Here is terraform config file: [softlayer.txt](https://github.com/softlayer/terraform-provider-softlayer/files/583966/softlayer.txt)

[2016-11-10 17:11] renier commented on #47
@bondyk Are you comfortable building the provider binary from source? basically `make bin`.

[2016-11-10 17:17] bondyk commented on #47
@renier yes, no problem. I was building from git repo until I found that there is a possibility to download binaries directly :)

[2016-11-10 17:48] renier commented on #47
@bondyk So just playing a hunch. I'm thinking that the API is misbehaving and saying there are no active transactions to the provider when they still are. So what I'm doing is making sure we have two consecutive reports of the API saying there are no active transaction (each check is spaced by 10 seconds). You'll have to checkout the _no-active-transx_ branch to try it.

[2016-11-10 18:41] bondyk commented on #47
@renier What should I see when run it? Additional log messages?

[2016-11-10 18:47] renier commented on #47
@bondyk No. You would just see if you can still reproduce the situation

[2016-11-10 18:51] bondyk commented on #47
@renier ok, I'll be testing it for next couple of days and will let you know about results. Thanks.

[2016-11-12 00:07] renier commented on #47
We think this was due to the API misbehaving yesterday. We haven't seen this occur again. Closing, but feel free to reopen if you can reproduce.

[2016-11-12 00:07] #47 closed, assigned to nobody

[2016-11-12 18:34] Freyert commented on #44
@renier at the moment I'm a bit confused as to where [these functions](https://github.com/softlayer/terraform-provider-softlayer/blob/master/softlayer/resource_softlayer_bare_metal_test.go#L21-L22) are being imported. Or how I'm supposed to run these tests.

Ideally I would think `go test x_test.go` would work.

---

Gotta use `go test -run <REGEX>`.

[2016-11-12 18:49] renier commented on #44
@Freyert In provider_test.go.

The Makefile has a testacc target for runnnig acceptance tests. There is a helpful comment there.

[2016-11-12 19:55] Freyert commented on #44
[code]

[Setting the API user and Key.](https://github.com/softlayer/softlayer-go#sessions)

[2016-11-13 13:41] Freyert commented on #41
https://github.com/softlayer/softlayer-python/blob/master/SoftLayer/managers/storage_utils.py

[2016-11-13 21:25] Freyert commented on #41
[Here's how the BOSH CPI team is creating the order using their version of the softlayer-go library](https://github.com/maximilien/softlayer-go/blob/90a945289f1f478e90874812491cd6cdf225e9e7/services/softlayer_network_storage.go#L68-L89)

[2016-11-14 01:34] renier commented on #41
@Freyert You can do the same with the official softlayer-go:

[code]

[2016-11-14 19:52] bondyk opened #49 "Graceful shutdown doesn't work"
If try to terminate terraform when it's still waiting for Virtual Guests to be created then it prints 'Gracefully shutting down...' but it still waiting to complete the creation process that could take up to 20 minutes.
[code]
I use the latest version of SoftLayer provider binaries.

I would expect to cancel pending transactions (if possible) and then cancel device. Or persist current state (still

[2016-11-14 20:03] renier commented on #49
@bondyk Currently Terraform's graceful shutdown entails waiting for plugin pending operations. Terraform does not offer any hooks to cancel a pending operation and delete a resource or to even let the plugin be aware that an interrupt was received by a user, though those are being discussed as enhancements for a future release of Terraform.

[2016-11-14 20:03] #49 closed, assigned to nobody

[2016-11-14 20:07] bondyk commented on #49
@renier thanks for the explanation

[2016-11-15 09:43] igoraj opened #50 "[softlayer_virtual_guest] Cannot provision vm from custom image template with multiple disks"
e.g. applying plan
[code]

Results in the following error:
[code]

Further research shows that this is known issue:

- softlayer/softlayer-python/issues/693
- http://stackoverflow.com/questions/37128160/error-when-using-softlayer-ruby-api-to-specific-additional-disks-with-a-virtual

Any chance this will be supported through terraform using customOrder like described [here](http://sldn.softlayer.co

[2016-11-15 14:07] renier commented on #50
That would be a feature request. No plans to provide that at the moment. It would require a new custom order resource I think, or at least a custom virtual guest resource.

You would have to code it. Using [softlayer-go](https://github.com/softlayer/softlayer-go) you could prepare the order with the right package id and the right prices for a virtual guest that points to an image template and has

[2016-11-15 14:09] renier commented on #50
I'm reopening this issue and leaving like this for now. Currently, the feature most requested is this type of advanced ordering for bare metals, network storage, and now virtual guests.

In this case, I think the best thing would be to trigger the ordering logic based on the passed parameters (e.g. multiple disks). Contributions welcome.

[2016-11-16 14:48] igoraj opened #51 "Terraform crash when creating virtual guest, dies with "unexpected EOF""
Occasionally terraform crashes and reports "unexpected EOF". This seems to happen on random basis.

short excerpt from crash log:
[code]

[2016-11-16 15:46] renier commented on #51
@igoraj which version or commit are you at?

[2016-11-16 15:50] igoraj commented on #51
@renier i'm on 1.2.0

[2016-11-16 17:12] bondyk commented on #47
@renier The issue isn't reproducing anymore so I think you can close it

[2016-11-16 17:13] bondyk commented on #47
@renier ooops, it's closed already, sorry. But anyway I confirm that it is fixed

[2016-11-16 17:14] bondyk commented on #47
@renier When are you going to release a new version containing this fix?

[2016-11-16 17:26] renier commented on #51
@igoraj Thanks for reporting. This should be fixed on master. Please try it out and let me know.

[2016-11-16 17:26] #51 closed, assigned to nobody

[2016-11-16 17:37] renier commented on #47
@bondyk Look for 1.3.0 very soon

[2016-11-16 19:44] igoraj commented on #51
@renier thanks, will play with it tomorrow and let you know.

[2016-11-17 17:21] bondyk commented on #47
@renier It seems the fix is not included in release 1.3.0. Do you want to test it more before merging?

[2016-11-17 17:31] renier commented on #47
@bondyk Right. The branch still exists, but it is not included in master yet. I think adding this additional delay in our code is not necessary anymore since it has been fixed on the SoftLayer API side.

[2016-11-18 09:52] igoraj commented on #51
@renier sorry to report but it happened again and pretty much looks the same:

[code]

terraform version: v0.7.10
softlayer plugin version: 1.3.0

[2016-11-18 14:35] renier commented on #51
@igoraj That's a different line that it is panicking on. It means that when we read the VM from SLAPI, it is not getting back the private IP address, which should never happen.

Can you share your .tf configuration?

[2016-11-18 14:38] igoraj commented on #51
@renier sure, it's quite simple as we have just started to play with terraform

[code]

[2016-11-18 14:53] renier commented on #51
@igoraj Can you try testing by building a new binary from master? e451d46

[2016-11-18 15:00] igoraj commented on #51
@renier sure, but it does not happen every time, so it may take a day or too again before you hear from me again :) many thanks for prompt fix 👍

[2016-11-19 02:23] litch commented on #50
I just got bitten by this as well - it's going to make my life trying to use softlayer with terraform pretty awful, it looks like.  I would love to be able to start a virtual guest from one of my base images with multiple block devices - thanks.

[2016-11-19 02:43] Freyert commented on #41
Well, I've changed my mind I'm interested in ordering Endurance storage. I'm thinking there will have to be a separate resource for performance storage.

Also, when selecting sizes it's very difficult to figure out _which_ `20_GB_PERFORMANCE_STORAGE_SPACE` I need to choose. There are about 10-15 items with the same `keyName`. `locationId` and `capacityRestriction` seem to be the discerning factors

[2016-11-19 02:48] renier commented on #41
@Freyert That's also considered network storage. The main two types of network storage is block storage and file storage. Then there are the flavors like endurance storage.

I would like to have two main resources: `softlayer_block_storage` (e.g. iSCSI) and `softlayer_file_storage`. Whether endurance flavor or not, that can be specified by the resource parameters.

[2016-11-19 02:58] minsikl commented on #41
There are four different types of network storages except legacy NAS storage in SoftLayer. They require different options for storage configuration as follows:

1) File performance storage - Provides NFS3, NFS4 with 1000 ~ 6000 IOPS option. Authorized hosts list should be managed.
2) File endurance storage - Provides NFS3, NFS4 with 0.5 ~ 10 IOPS option. Also provides snapshot function. Authorized

[2016-11-19 03:17] Freyert commented on #41
Ah yeup, that's a better way to think about it.

[2016-11-19 04:17] Freyert commented on #41
Ok, I've _finally_ figured out how to gather the bare minimum of items for these orders. For the first delivery I'm going to push a NetworkStorage resource, but it will only be able to interact with Endurance Block storage and ordering snapshot space for the store.

Hopefully I can easily leave it open to be extended, but yeesh all this is going to get cluttered with all these different storage ty

[2016-11-24 21:30] igoraj commented on #51
@renier so far so good, haven't seen any more crashes.

[2016-11-25 12:22] igoraj commented on #50
@renier i managed to get one of our devs look at this and prepare a PR, please review it and let us know if there is something else that we need to take care of to get this merged in.

[2016-11-25 14:28] Freyert commented on #41
Finally have an initial test somewhat working here, but I'm not quite sure how to tackle this error. Is it because I store the datacenter ID instead of the shortname?

[code]

[2016-11-25 22:33] renier commented on #41
@Freyert Hard to say without looking at some code. Is there implementation to back the test?

[2016-11-26 17:15] Freyert commented on #41
@renier

[Resource Network Storage](https://github.com/Freyert/terraform-provider-softlayer/blob/network_storage/softlayer/resource_softlayer_network_storage.go)
[Test](https://github.com/Freyert/terraform-provider-softlayer/blob/network_storage/softlayer/resource_softlayer_network_storage_test.go)

[2016-11-26 17:26] renier commented on #41
Yes, I think it is because you change the datacenter to have the location id on Create. What happens if you omit that?

[2016-11-28 01:42] Freyert commented on #41
@renier it worked! Question now is, what's the best way to make this more extensible to cover the rest of network storage available?

I'm imagining something along the lines of using a "switch" statement to switch on the drive "type". However, there's quite a range of possibilities here and the nuances of working with the ordering system are problematic as well.

Using this list of possible traits

[2016-11-28 01:49] renier commented on #41
@Freyert Object storage need not be covered here (there is already a related resource for that).

Two resources:
* softlayer_file_storage
* softlayer_block_storage (this issue)

Each one of those resources can have a `type` property to designated it as _performance_ or _endurance_ (which would enable/disable appropriate other properties like iops).

As for common code, that could potentially go in

[2016-11-29 14:59] renier opened #54 "[XMLRPC] Error when modifying a user record"
[code]

[2016-11-30 23:47] tomwganem opened #55 "Incompatible API version error"
This is an error I'm running into on my Mac, running 10.12.1. I can not replicate the error on a Ubuntu 16.04 machine.

I downloaded the terraform binary from terraform website. And used `go get -u github.com/softlayer/terraform-provider-softlayer` to install the terraform-provider-softlayer plugin. Now, whenever I do `terraform plan` I get this error

[code]

Some more info:
[code]

[2016-12-01 00:22] renier commented on #55
@tomwganem Right, because the provider is not vendoring the terraform dependency, so go-get downloads the latest terraform from the master which is on version 0.8dev and builds against it. But the binary you downloaded is terraform is 0.7.x, thus the error.

Try the binary releases of the provider to get around this.

Unfortunately, this is how go-get works and we can't control that. We could stri

[2016-12-01 00:48] renier commented on #44
@Freyert What would you recommend be added to the README?

[2016-12-01 07:15] tomwganem commented on #55
I built terraform from master using `make dev`. The issue is now resolved.

I think this issue is largely just me being unfamiliar with how the Go ecosystem works. Even still, I think it would be useful to make some sort of note in the README about what to expect when running `go get` to install the provider.

Here's my suggestion.

[2016-12-01 15:03] #44 closed, assigned to nobody

[2016-12-01 15:03] #55 closed, assigned to nobody

[2016-12-02 20:36] minsikl commented on #54
There was a misspelling of an objectMask in UserUpdate function.

[2016-12-06 08:02] #50 closed, assigned to nobody

[2016-12-06 21:14] minsikl opened #58 "network_speed value is not updated for virtual guest with private network only"
If `softlayer_virtual_guest` resource definition has `private_network_only = true` but doesn't have `network_speed`, `terraform show` returns 0 for network_speed.

Example: test.tf
[code]

[code]

[2016-12-07 03:28] minsikl commented on #15
SoftLayer vm supports an IPv6 address for public network. The following arguments can be added to a schema of a virtual guest.
[code]

[2016-12-07 03:29] #58 closed, assigned to minsikl

[2016-12-07 16:43] #54 closed, assigned to minsikl

[2016-12-07 19:34] athak opened #61 "Make softlayer_dns_domain target optional?"
Hi,
Creating a new domain via this provider requires target to be set. This IP is also required when creating a domain via the portal. This IP address in turn is used to create an A record at the root of the domain.

However, when creating a domain via the softlayer command line client, the target is not required. The domain is created successfully without the A record. This leads me to believe th

[2016-12-07 19:47] athak opened #62 "Allow to add softlayer_dns_domain_record using domain name instead of domain id"
Hi,
Currently, domain_id is a required parameter when using softlayer_dns_domain_record. Knowning the domain_id when the domain is created inside the same project is not an issue. But if the domain was created in another project, passing the domain_id requires storing it in an output or hardcoding it.

We use a set of internal modules that create domain hierarchies dynamically based on certain par

[2016-12-10 00:19] Freyert opened #64 "softlayer_virtual_guest.myapp-primary: unexpected EOF"
### What was I doing?
Trying to provision some VMs.

### Versions
Terraform: v0.7.13
Go: go version go1.7.3 darwin/amd64

### Crash Log
[code]

[2016-12-10 00:57] renier commented on #64
@Freyert version of softlayer provider or commit hash of the version you built?

[2016-12-12 04:35] andrew-morris opened #65 "Support multiple IPv4 addresses"
I'm not sure if this is a planned feature or something that already exists but it would be great if there was an exposed terraform config to allow adding multiple NICs to a node.

[2016-12-12 15:29] minsikl commented on #65
SoftLayer vm provides one public network interface and one private network interface. If `private_network_only` is false in terraform configuration, the vm will have two network interfaces. Otherwise, the vm will have one private network interface.

[2016-12-12 15:48] renier commented on #65
@minsikl Can you order a VM with multiple IPs from the portal? or can that only be done later with IP blocks?

[2016-12-12 16:23] minsikl commented on #65
SoftLayer VM provides one private NIC and one public NIC. It is not possible to add additional virtual NICs to SoftLayer VMs.

However, SoftLayer provides secondary IP addresses for VMs. They are public static IP addresses and can be ordered in VM creation menu. Once they are ordered together, a new VM will have secondary IP addresses as sub interfaces. Here is a result of secondary IP addresses:

[2016-12-12 16:36] renier commented on #65
@andrew-morris Did you really mean explicit NICs? or just secondary IP addresses?

I think this would be a good feature to add @minsikl, so let's keep it around.

[2016-12-12 17:41] andrew-morris commented on #65
Sorry- i didn't mean NICs. i just meant secondary ips

[2016-12-13 02:32] minsikl commented on #65
The branch https://github.com/softlayer/terraform-provider-softlayer/tree/feature-virtual-guest-multipleips implemented` secondary_ip_count` and `secondary_ip_addresses` arguments for VM's secondary ip configurations.

[2016-12-15 13:45] athak opened #66 "Should not try to parse empty strings"
We are trying to encapsulate some functionality in a custom module, trying to expose as many arguments from the underlying resources as possible through the module.  One of the resources used inside the module is softlayer_virtual_guest. So for example the module has these variables declared among others:
[code]
And then passed to the resource:
[code]
The problem is that if no value is passed to t

[2016-12-15 14:16] renier commented on #66
@athak You have to pass the variables to the inputs of the module, but I see the vars being interpolated directly into the underlying resources instead.

can you show all the tf files including the module?

[2016-12-15 14:26] athak commented on #66
@renier thanks for the prompt reply. The module in this case is being called without those arguments since they are optional:
[code]
So the defaults kick in which are the empty strings.

[2016-12-15 15:14] renier commented on #66
I see what you mean now. I don't know how to get around this currently without removing the vars you don't intend to use. Don't think this is an actual issue with the provider. Just how you setup the vars to drive the module.

[2016-12-15 15:40] athak commented on #66
I just made a quick experiment using the old softlayer_virtual_guest resource included in terraform, adjusting the argument names:
[code]
Same module call, default empty strings. No errors.

[2016-12-15 15:48] athak commented on #66
I see in the source code of the old softlayer_virtual_guest resource that block_device_template_group_gid, backend_vlan_id and frontend_vlan_id are defined as TypeString and then parsed to int. Maybe that's the workaround?

[2016-12-15 15:51] athak commented on #66
This appears to be a related issue: https://github.com/hashicorp/terraform/issues/6254

If converting the arguments to TypeString is not possible, how about using a special value like -1 to be interpreted as nil? There seems currently to be no way to pass integers to modules.

[2016-12-15 16:35] athak commented on #66
Ok, so setting the default for public_vlan_id and private_vlan_id to -1 seems to work with the current code, since it checks for values > 0. The instance is correctly created. However, the terraform plan shows:
[code]
The terraform.tfstate does have the assigned vlan numbers though. So we can go with this for now for VLAN ids but it feels a bit dirty for the planning phase.

The conflict between i

[2016-12-15 19:03] renier commented on #66
@athak that is a problem in terraform when you mark a fields conflicting with each other. It looks up the values and that's how it deals with explicit empty strings when the type is TypeInt. You should look at creating a module that uses images and another that uses os reference codes.

[2016-12-15 19:03] #66 closed, assigned to nobody

[2016-12-15 19:46] athak commented on #66
@renier I understand the current limitations in terraform and the fact that we still have to go through a lot of workarounds to achieve certain goals due to lack of certain features. I go through that pain every day. However, maintaining an almost exact duplicate copy of a module because of this kind of shortcoming is not a realistic solution.

Sometimes certain improvements/workarounds can be mad

[2016-12-15 19:53] renier commented on #66
@athak open to looking at a PR showing your idea on solving this at the provider level. However, a PR up to Terraform would be more appropriate.

[2016-12-15 20:06] athak commented on #66
@renier unfortunately my knowledge in Go is not up to par for this. Anyway, thanks for your help.

[2016-12-15 20:10] renier commented on #66
@athak do you have an idea though on what the provider could do in this case? The conflict resolution is managed above the provider plugin, so I can't immediately think of a solution, unless we lift that conflict relationship. You can tinker around and try it. We would have to manage the potential conflict locally in the provider. Assuming that would help you.

[2016-12-16 02:56] minsikl commented on #66
DiffSuppressFunc can be added to `private_vlan_id` and `public_vlan_id` arguments to ignore updated vlan_id values for `terraform plan` or `terraform apply`. I also think that conflict checking logic can be implemented in a create function instead of ConflictsWith to provide more flexibility.

[2016-12-16 04:04] renier commented on #66
DiffSuppressFunc is not without its [problems](https://github.com/hashicorp/terraform/issues/9516).

[2016-12-16 06:59] minsikl commented on #66
private_vlan_id and public_vlan_id don't have to have a default value. The following DiffSuppressFunc ignores difference when private_vlan_id = 0 or public_vlan_id = 0
[code]

[2016-12-16 18:47] renier commented on #61
@athak We have someone working on this.

[2016-12-20 14:23] #61 closed, assigned to nobody

[2016-12-21 18:16] minsikl commented on #64
I got a similar error as follows:
[code]

[code]

In the provisioning phase, the first active transaction request returns `[]`. Then, PrimaryIpAddress query returns the primary ip address, but private primary ip address was still nil. So, the line number 665 of virtual_guest.go `d.Set("ipv4_address_private", *result.PrimaryBackendIpAddress)` generates the error.

[2016-12-21 20:00] minsikl opened #69 "Support cpu upgrade in virtual_guest"
`cores` in virtual_guest schema is configured as a `ForceNew` type because cores upgrade/downgrade resets `dedicated_acct_host_only` property.  This problem can be solved if private core price item is used when `dedicated_acct_host_only` is true.

[2016-12-21 20:53] minsikl commented on #64
I think that `ensure-no-tranx` can be applied at first. After that,  PrimaryBackendIpAddress should be checked in WaitForIPAvailable function.

[2016-12-21 21:03] renier commented on #64
Sounds good Minsik

-Renier

[2016-12-22 01:21] minsikl commented on #69
PR #70 supports CPU upgrade.

[2016-12-22 01:27] renier commented on #64
@minsikl What if we just wait for the primary backend ip to be populated? Would that solve it? The assurity thing will work, but it's kind of a hack. Do we have to use it?

[2016-12-22 01:29] #69 closed, assigned to nobody

[2016-12-22 02:05] renier commented on #65
@andrew-morris You got your wish :-) Merry 🎄

[2016-12-22 02:05] #65 closed, assigned to nobody

[2016-12-22 18:52] minsikl commented on #64
The primary backend ip assigning isn't a final step of the provisioning. Usually, password is assigned later than the primary backend ip. However, even if the password is assigned, it does not guarantee the completion  of the provisioning because the provisioning process still requires OS initialization such as os patch and daemon configuration. So, if the active transaction isn't checked, next ta

[2016-12-29 15:27] #62 closed, assigned to nobody

[2017-01-05 18:44] andrenarchy opened #74 "provide binaries for terraform 0.8"
I receive the following error with the current version of terraform (v0.8.2):
[code]
Related to #55 where terraform 0.8 was not yet released.

[2017-01-05 18:54] renier commented on #64
@minsikl Yes, I think the idea of waiting both for no active transactions and IP together is good.

[2017-01-05 19:23] minsikl commented on #64
@renier We have three transaction checking functions for VirtualGuest: `WaitForNoActiveTransactions`, `WaitForIPAvailable`, and `WaitForSecondaryIPAvailable`. How about combine them to create one `WaitForNoActiveTransactions` function?

[2017-01-07 00:17] tomwganem opened #75 "Provisioning local load balancers with multiple service groups"
Using:
[code]

I consistently run into problems creating a local load balancer with more than one service group. Here's the terraform configuration I'm using regarding local load balancers.

[code]
Terraform will consistently error out for me after creating the first service group. I assume it's because when it tries to save the first service group, the allocation is not 100 percent yet.

Example

[2017-01-07 04:16] renier commented on #75
@minsikl Wondering if this is a problem/limitation with the SLAPI?

[2017-01-09 22:02] minsikl commented on #75
There are three issues as follows:
1) Error while creating or deleting multiple service_groups : SoftLayer API does not allow multiple requests on same load balancer.
2) Services on wrong service group : Wrong filter was called when the plugin request service group list.
3) Load balancer and destination IP are in different data center : Failed to re-generate this issue.

@tomwganem I fixed the cod

[2017-01-09 22:18] minsikl commented on #15
Public IPv6 address feature has been added to virtual guests and the issue can be closed.

[2017-01-09 22:18] #15 closed, assigned to renier, minsikl

[2017-01-10 00:03] tomwganem commented on #75
I ran two `terraform apply` runs in two different datacenters from a fresh state. Ran into the same error in both runs

## run A
[code]
## run B
[code]

[2017-01-10 01:28] minsikl commented on #75
I added an exception handling code for `The resource '480' is already in use.` error. Can you test it with the latest code again?

[2017-01-10 03:21] athak opened #76 "Changing the domain_id of a softlayer_dns_domain_record should force recreation"
Currently, changing the domain_id of a softlayer_dns_domain_record does not force recreation of the record which leads to unexpected behavior. The records are not removed from the "old" domain and are not created in the "new" domain either.

[2017-01-10 04:57] renier commented on #76
@ivan-n16

[2017-01-10 18:03] tomwganem commented on #75
Seems to be good now. No longer running into errors on a fresh run. I'll stand up a few more clusters today to see if I run into anything else.

[2017-01-10 20:38] renier commented on #64
@minsikl Sounds good to me. Go for it.

[2017-01-10 23:36] tomwganem commented on #75
More testing indicates that the issue is completely resolved. Thanks for the quick turnaround.

[2017-01-10 23:38] renier commented on #75
@minsikl feel free to merge the branch into master, since it has been tested in the wild. thanks!

[2017-01-11 02:42] #75 closed, assigned to minsikl

[2017-01-11 21:51] renier commented on #76
@athak does the merged #79 fix your issue?

[2017-01-16 21:52] athak commented on #64
Last commit (PR #77) is causing issues for us when creating virtual guests. We are getting unexpected EOF. Transaction begins but bombs at about 15s:

[code]
No errors with modifying existing guests. We haven't tried destroying yet. Provider at revision 028699999d747bed1f1702885dc05ea6cc5b5b2f works without issues.

[2017-01-16 21:53] athak commented on #76
I apologize for the delay in replying. #79 fixes the issue. Thanks!

[2017-01-16 21:54] #76 closed, assigned to nobody

[2017-01-16 21:54] renier commented on #64
@minsikl

[2017-01-17 06:50] minsikl commented on #64
@athak Can you share a sample tf file which generates an error?

[2017-01-18 14:39] renier commented on #64
@athak Could you re-pull and try again?

[2017-01-18 14:39] #64 closed, assigned to nobody

[2017-01-23 14:37] linsun opened #81 "Can I order VM with monitoring and response configuration?"
when I order VM via terraform, can I order these service addons: host ping and tcp service monitoring, automated reboot from monitoring?

[2017-01-23 20:59] tomwganem opened #82 "retrieving subnets from vlan resource"
I'm using:
[code]

I would like to use the subnets property from the vlan resource, but I'm unable to easily access it.

How I would like to use it:

[code]

What ends up being the output:

[code]

The state of the vlan:

[code]

[2017-01-23 21:02] renier commented on #82
@tomwganem To confirm; are you using the VLAN data source or the VLAN resource?

[2017-01-23 21:03] tomwganem commented on #82
resource

[2017-01-25 01:13] ghost opened #83 "Not able to create softlayer_lb_local_service_group"
Team,

I am having errors with no valuable information when trying to create a local loadbalancer.

[code]

I have updated latest version of softlayer module and use terraform v0.8.4

Any ideas on how to debug this?

[2017-01-25 06:50] minsikl commented on #83
@itsguy The tf configuration is correct. It looks like that the problem came from SoftLayer. Can you check if you are able to create the service group on SoftLayer portal?

[2017-01-25 07:42] ghost commented on #83
It fails through the slcli with a key on a user that has super user..
[code]

It also fails with the root account logged into the portal.   I will log a case for that.

Not much details from the error messages from softlayer.  I assume you are just passing though the error message and that is all we got.

[2017-01-25 15:51] renier commented on #83
@itsguy In addition to the ticket you open, you can also give it more visibility by posting it on stackoverflow tagged with _softlayer_.

[2017-01-25 15:51] #83 closed, assigned to minsikl

[2017-01-25 17:23] pat610 opened #84 "New release"
When can we expect a new release with the latest changes included?  I'm interested in some of the fixes that have been merged since 1.3.0 came out.

[2017-01-25 17:25] renier commented on #84
We'll do it soon as part of issue #74

[2017-01-25 17:25] #84 closed, assigned to nobody

[2017-01-25 21:27] minsikl commented on #82
Type of `subnets` in `softlayer_vlan` is a list of maps and terraform interpolation mostly supports a string type or list of string type only. Here are several workarounds.

1) Return subnets as a list of maps.
[code]

2) Return subnet with a static index.
[code]

3. The last workaround uses `data` instead of `resource`. [softlayer_vlan data](https://github.com/softlayer/terraform-provider-softlay

[2017-01-26 14:31] #82 closed, assigned to minsikl

[2017-02-01 18:00] minsikl commented on #43
I tested bare metal provisioning with following presets and servers were created without error messages.
[code]

[2017-02-01 18:35] bondyk opened #89 "Recreating tainted resource"
If mark resource as tainted in terraform state file then next 'apply' destroys it and creates a new resource.

Wouldn't be better to trigger OS Reload in SoftLayer instead of doing two operations?

Moreover it would be nice to have this feature for the case when we have monthly VMs and at some point of time we want to re-use it for another customer. Destroy-create means that we order completely ne

[2017-02-01 19:25] blfreese opened #90 "Delete/recreate of virtual guest associated with LB causes error in update"
Using Terraform to create two virtual machines, a load balancer with two groups, works correctly.  If the virtual machines are tainted and "terraform apply" run, an error occurs trying to find the LB services created earlier.

Terraform plan, after the taint, shows that the services should be modified and the VMs destroyed/recreated.  The services should be modified, but it appears they're being d

[2017-02-01 22:12] #43 closed, assigned to minsikl

[2017-02-01 22:17] renier commented on #89
@bondyk That behavior falls under https://github.com/hashicorp/terraform/issues/1579 which seeks to have more granular control over the stages of a resource's life cycle. Within the current system, tainted resources must be destroyed on apply as there is no way for the existing resource code to untaint itself afaik. This is imposed by the current Terraform core logic.

[2017-02-01 22:17] #89 closed, assigned to nobody

[2017-02-02 04:33] minsikl commented on #90
When a virtual server is deleted, the related service is automatically deleted by SoftLayer. As a workaround, I changed the property of `ip_address_id` in `softlayer_lb_local_service` to `ForceNew`. If terraform needs to delete and create a vm, it will delete a service, delete the vm, create a new vm, and create a new service.
@blfreese, I created a branch [fix-lb-service](https://github.com/softl

[2017-02-02 14:49] blfreese commented on #90
I built a new provider based on your branch and if I taint one of the virtual server resources, all four LB services get marked for recreate (two are associated with the tainted machine, two are associate with a machine whose state is correct).

[2017-02-02 15:30] minsikl commented on #90
Did you change .tf file, terraform.state, or real virtual server resource?

[2017-02-02 15:37] blfreese commented on #90
No.  If I untaint the resource and run plan, terraform shows no changes. If
I taint one resource and run plan, it wants to change all four.

On Thu, Feb 2, 2017 at 10:30 AM, Minsik Lee <notifications@github.com>
wrote:

[2017-02-02 16:01] minsikl commented on #90
Can you explain how you tainted the resource?

[2017-02-02 16:22] blfreese commented on #90
terraform taint 'softlayer_virtual_guest.machine.0'

[2017-02-02 20:50] blfreese commented on #90
Could the taint have to do with list reordering?  That is because we define the load balance services by a list, adding/removing changes the list so all services are recreated?

[2017-02-07 14:14] renier opened #91 "Extract helper functions from file storage resource and move them to softlayer-go"
Title says it all

[2017-02-07 21:40] minsikl commented on #90
It looks like that ``` "${element(softlayer_virtual_guest.machine.*.ip_address_id_private, count.index)}"``` does not detect a specific vm which has to be updated.

[2017-02-08 14:51] renier opened #93 "Allow setting of notes in virtual guest resource"
^

[2017-02-09 14:26] renier opened #94 "Associate block storage with bare metals"
@ivan-n16

[2017-02-13 19:33] renier opened #95 "virtual guest resource is tainting public ip properties on a second apply"
On a second apply, the refresh of an existing private network only VM is coming up with _tainted_ values regarding properties related to the public network. Need to make sure that we are not even setting the keys for public network if the VM is private network only. Also, need to ensure the same happens for the secondary addresses array (i.e. if no secondary addresses, then do not set any keys in

[2017-02-14 13:54] minsikl commented on #94
The function has been added to a block_storage resource.

[2017-02-14 13:54] #94 closed, assigned to nobody

[2017-02-16 13:06] #93 closed, assigned to renier

[2017-02-20 06:26] ashishth09 opened #98 "Hashicorp interlock - Code review on early draft."

[2017-02-20 06:27] #98 closed, assigned to nobody

[2017-02-20 18:21] #22 closed, assigned to nobody

[2017-02-20 18:35] renier commented on #81
@linsun Have you tried the basic_monitor resource? https://github.com/softlayer/terraform-provider-softlayer/blob/master/docs/resources/softlayer_basic_monitor.md

[2017-02-20 19:26] linsun commented on #81
@renier thanks for the pointer, no, i haven't tried this.  From reading the docs, I see this can add basic monitor and notify a user, but how would it enable automated reboot?

[2017-02-20 19:28] linsun opened #100 "Able to query status for a deployed VM"
Some discussion on slack for this request.
Lin Sun [12:24 PM]
@here is there a good way to check status of vm from terraform?   (the vm is deployed using terraform apply)

Renier Morales [12:25 PM]
other than existence in the list of known devices, no

[12:26]
in the future, you'll be able to add power state of the resource in to the mix, but it will depend on what you mean with status, too

Lin S

[2017-02-20 19:30] renier commented on #81
@linsun By specifying the response action. See http://sldn.softlayer.com/reference/datatypes/SoftLayer_Network_Monitor_Version1_Query_ResponseType

[2017-02-20 19:34] renier commented on #81
Actually, use this to get all the response action types: http://sldn.softlayer.com/reference/services/SoftLayer_Network_Monitor_Version1_Query_Host_Stratum/getAllResponseTypes

[2017-02-20 19:43] linsun commented on #81
Thanks, do I need to install SL CLI or is there sample curl cmd to run to get all response types in your prior comment?

[2017-02-20 20:28] renier commented on #81
@linsun You can use [Postman](https://www.getpostman.com/apps) as well. Not sure about SL CLI. Curl command is as you would expect (there are rest docs out there already), you just have to pass the username/apikey as part of the url.

[code]

[2017-02-20 20:28] #81 closed, assigned to nobody

[2017-02-21 14:16] ashishth09 opened #102 "basic_monitor acceptance test is failing"
I tweaked the config in the test to the following, before running the test.
[code]

It looks like when the monitor is created for the first time, it is already having a default user attached to it. In my case it was 311794 . I interpret the error as summed by the test framework as:
Per your configuration there should have been only one user which is 502905, but after I have applied it, the end res

[2017-02-22 05:00] Praveengostu opened #103 "Globalip Acceptancetest case is failing"
With resource config
resource "virtual_guest" "vm1" {
    hostname = "vm1"
    domain = "example.com"
    os_reference_code = "DEBIAN_7_64"
    datacenter = "NY"
    network_speed = 100
    hourly_billing = true
    private_network_only = false
    cores = 1
    memory = 1024
    disks = [25]
    local_disk = false
}

resource "virtual_guest" "vm2" {
    hostname = "vm2"
    domain = "example.com"

[2017-02-22 07:18] ashishth09 opened #104 "Virtual guest acceptance test is failing"
[code]

[2017-02-22 18:31] renier commented on #103
@Praveengostu We don't have any test called `TestAccIBMCloudInfraGlobalIp_Basic`.

[2017-02-22 18:31] #103 closed, assigned to nobody

[2017-02-22 18:52] #104 closed, assigned to nobody

[2017-02-23 04:22] #102 closed, assigned to nobody

[2017-02-23 05:51] Praveengostu opened #106 "global IP acceptance test case fails"
With resource config
resource "virtual_guest" "vm1" {
hostname = "vm1"
domain = "example.com"
os_reference_code = "DEBIAN_7_64"
datacenter = "NY"
network_speed = 100
hourly_billing = true
private_network_only = false
cores = 1
memory = 1024
disks = [25]
local_disk = false
}

resource "virtual_guest" "vm2" {
hostname = "vm2"
domain = "example.com"
os_reference_code = "DEBIAN_7_64"
datacenter = "NY"

[2017-02-23 08:01] leibaogit opened #107 "create vsi from image_id failed for blockDevices"
I have a image templete and want to create a vsi by the python API. It always fails with this reason: "Invalid value provided for 'blockDevices'. Block devices may not be provided when using an image template."

[code]

[code]

[2017-02-23 08:02] leibaogit opened #108 "slcli error"
[code]

[2017-02-23 11:03] hkantare opened #109 "scale group acceptence test fails"
with resource config

const testAccCheckSoftLayerScaleGroupConfig_basic = `
resource "softlayer_lb_local" "local_lb_01" {
    connections = 250
    datacenter = "sng01"
    ha_enabled = false
}

resource "softlayer_lb_local_service_group" "http_sg" {
    load_balancer_id = "${softlayer_lb_local.local_lb_01.id}"
    allocation = 100
    port = 80
    routing_method = "ROUND_ROBIN"
    routing_type

[2017-02-23 14:09] ashishth09 commented on #107
@bali2016 did you mean to create these issues against https://github.com/softlayer/softlayer-python?

[2017-02-23 14:31] renier commented on #108
@bali2016 This is not the softlayer-python project

[2017-02-23 14:31] #108 closed, assigned to nobody

[2017-02-23 14:31] renier commented on #107
@bali2016 Please create this against the python project.

[2017-02-23 14:31] #107 closed, assigned to nobody

[2017-02-23 14:41] renier commented on #41
This is done. Thanks everyone for helping getting this in.

[2017-02-23 14:41] #41 closed, assigned to nobody

[2017-02-23 14:43] renier commented on #90
So the way that Terraform sees what needs to be changed is affected by the undeterministic use of `*` in the `element()` function. Closing this.

[2017-02-23 14:43] #90 closed, assigned to minsikl

[2017-02-23 14:45] renier commented on #95
Only seems to happen when post-provision fails?...

[2017-02-24 15:03] renier commented on #106
#110 merged

[2017-02-24 15:03] #106 closed, assigned to minsikl

[2017-02-24 15:59] renier commented on #95
@minsikl I tested. Yes, this only happens when post-provision fails.

[2017-02-24 15:59] #95 closed, assigned to renier

[2017-02-25 19:15] ashishth09 opened #111 "Virtual Guest Acceptance test fails with secondary_ip_count mismatch"
[code]

[2017-02-26 00:45] minsikl commented on #111
Did you use the latest version? I'm not able to generate the error:
[code]

[2017-02-26 06:21] ashishth09 commented on #111
@minsikl. Yeah I just did a fresh `go get -u` on this repo. I might have some dev (0.9-dev) of core terraform code though. I am not sure if that would matter?

[2017-02-27 01:12] renier commented on #111
@ashishth09 Yes, it could matter. Please make sure you are in 0.8.x version of terraform in $GOPATH/src/github.com/hashicorp/terraform when you run the tests.

[2017-02-27 02:23] minsikl commented on #111
Found the problem. Working on it.

[2017-02-27 07:29] minsikl opened #113 "Global IP acceptance test fails."
Global IP acceptance test fails as follows:
[code]

When an interpolation syntax is used for _routes_to_, _net.ParseIP().String()_ function returns _nil_ and _DiffSuppressFunc()_ function returns _true_ in _resourceSoftLayerGlobalIpCreate()_ function.

[2017-02-27 14:37] #111 closed, assigned to nobody

[2017-02-27 15:12] #113 closed, assigned to nobody

[2017-02-28 14:09] Praveengostu opened #116 "softlayer Global Ip AT fails"
With latest pull i see multiple failures with AT for global ip
TestAccSoftLayerGlobalIp_Basic (3727.84s)
	testing.go:265: Step 2 error: Error applying: 1 error(s) occurred:

		* softlayer_global_ip.test-global-ip (destroy): 1 error(s) occurred:

		* softlayer_global_ip.test-global-ip: SoftLayer_Exception_Public: This cancellation could not be processed please contact support.This cancellation coul

[2017-02-28 14:25] renier commented on #116
Please try tomorrow. This error is given by the API if you cancel a monthly resource on the last day of the month that was just created..

[2017-02-28 14:25] #116 closed, assigned to nobody

[2017-02-28 14:26] renier commented on #74
Done.

[2017-02-28 14:26] #74 closed, assigned to renier

[2017-03-02 03:44] minsikl commented on #109
The fix has been applied.

[2017-03-02 03:45] #109 closed, assigned to minsikl

[2017-03-02 10:38] Praveengostu opened #119 "Global IP acceptance testcase fails"
After pulling the latest code the global IP AT fails with below error
FAIL: TestAccSoftLayerGlobalIp_Basic (386.23s)
	testing.go:265: Step 0 error: Error applying: 1 error(s) occurred:
softlayer_virtual_guest.vm1: 1 error(s) occurred:

		* softlayer_virtual_guest.vm1: Error retrieving virtual guest: Get https://api.softlayer.com/rest/v3/SoftLayer_Virtual_Guest/28960471.json?objectMask=mask%5Bhostn

[2017-03-02 20:47] minsikl commented on #119
The TCP timeout error means there is a problem with the connection at the network socket level. Please check the network connection of the test environment and perform the test.

[2017-03-03 10:58] Praveengostu opened #120 "Block store AT fails"
=== RUN   TestAccSoftLayerBlockStorage_Basic
--- FAIL: TestAccSoftLayerBlockStorage_Basic (478.74s)
	testing.go:265: Step 1 error: Error applying: 1 error(s) occurred:

		* softlayer_block_storage.bs_endurance: 1 error(s) occurred:

		* softlayer_block_storage.bs_endurance: Error updating storage information: SoftLayer_Exception_Network_Storage_Group_MassAccessControlModification: Errors occurred

[2017-03-03 12:47] #119 closed, assigned to nobody

[2017-03-03 15:29] renier commented on #120
@ivan-n16 ^

[2017-03-06 11:28] Praveengostu opened #121 "image template AT fails"
=== RUN   TestAccSoftLayerImageTemplateDataSource_Basic
--- FAIL: TestAccSoftLayerImageTemplateDataSource_Basic (2.62s)
	testing.go:265: Step 0 error: Error refreshing: 1 error(s) occurred:

		* data.softlayer_image_template.tfacc_img_tmpl: 1 error(s) occurred:

		* data.softlayer_image_template.tfacc_img_tmpl: data.softlayer_image_template.tfacc_img_tmpl: Could not find image template with name [

[2017-03-06 12:01] ivan-n16 commented on #120
@Praveengostu Could you run the test again with environment variable `TF_LOG` set to `DEBUG` and paste the output.
```export TF_LOG=DEBUG```

[2017-03-06 14:24] renier commented on #121
Yes, the image name has to exist in the account being tested.

[2017-03-06 14:24] #121 closed, assigned to nobody

[2017-03-06 14:44] Praveengostu commented on #120
Pls find the attached blockstorage.txt
[blockstorage.txt](https://github.com/softlayer/terraform-provider-softlayer/files/821457/blockstorage.txt)

[2017-03-06 14:50] Praveengostu commented on #121
@renier If that is the case it should be a prerequisite.. The AT should not fail .. Is this depends on other tests which create the image jumpbox?

[2017-03-06 15:08] ivan-n16 commented on #120
The error in the log file is different(`dial tcp 66.228.119.120:443: i/o timeout`, similar to #119 ). I was hoping they'd be the same. Will try recreating `MassAccessControlModification` at my end.

[2017-03-06 22:03] renier commented on #121
@Praveengostu Even if we set up a precheck function, the tests are pass/fail.

It does not depend on other tests. The private (or shared) image with that name should exist for it to pass.

[2017-03-10 21:41] #120 closed, assigned to nobody

[2017-03-14 11:24] Praveengostu opened #124 "firewall AT fails"
==> Checking that code complies with gofmt requirements...
go tool vet -all .
TF_ACC=1 go test $(go list ./... | grep -v '/vendor/') -v -run=TestAccSoftLayerFwHardwareDedicated_Basic -timeout 120m
?   	github.com/softlayer/terraform-provider-softlayer	[no test files]
=== RUN   TestAccSoftLayerFwHardwareDedicated_Basic
--- FAIL: TestAccSoftLayerFwHardwareDedicated_Basic (419.27s)
	testing.go:265: S

[2017-03-14 12:56] Praveengostu opened #125 "User AT fails even the password as per the constraint"
testing.go:265: Step 0 error: Error applying: 1 error(s) occurred:

		* softlayer_user.testuser: 1 error(s) occurred:

		* softlayer_user.testuser: Error creating SoftLayer User: SoftLayer_Exception_User_Customer_Password_Complexity_Failed: Invalid password: Passwords must contain an uppercase letter. (HTTP 500)

The password already contains a upper case still it complains as above

[2017-03-14 14:58] renier commented on #124
This passes for me.

[code]

@minsikl Any ideas? Since they are using their own account for this, maybe it is something they don't have in their account?

[2017-03-14 14:58] #124 closed, assigned to nobody

[2017-03-14 15:00] renier commented on #125
Passing for me,
[code]

[2017-03-14 15:00] #125 closed, assigned to nobody

[2017-03-14 16:56] minsikl commented on #125
@Praveengostu It looks like that your user id does not have a privilege to manage users. Please make sure your user id has `Add New User` privilege.

[2017-03-14 17:58] minsikl commented on #124
@Praveengostu Please check if the test user has `Hardware Firewall` permission.

[2017-03-20 17:56] rbmateescu opened #128 "Multiple SSH keys with the same fingerprint create problems during resource destroy"
If the same SSH public key is deployed multiple times, it appears that only one instance of that SSH key is created in SL. This creates problems when deleting resources that no longer exists. Here are the steps to reproduce this problem:
1. Deploy a template (tf1) that contains a pub SSH key (key1) and a VM (vm1)
2. Deploy a template (tf2) that contains the same pub SSH key (key1) and associate it

[2017-03-20 21:56] igoraj opened #129 "Error creating Dns Domain: SoftLayer_Exception_MissingCreationProperty"
Hi

I'm having issue creating simple dns domain.

main.tf:
[code]

terraform apply:
[code]

[2017-03-20 22:14] renier commented on #128
@rbmateescu Hi Radu. Yes, on purpose, the resource will attach itself to an existing matching key (by ssh key fingerprint) in the cloud, to avoid duplicate keys. SoftLayer will complain with an error if you try to create the same key twice, and we avoid that this way.

What we can do is to not report an error if the key is not found upon deletion. Would that work for you? Also @minsikl @riethm

[2017-03-20 23:26] rbmateescu commented on #128
Thanks Renier, yes, I think that would solve our immediate problem with the overall status of the destroy.

[2017-03-21 09:49] igoraj opened #130 "Terraform v0.9.x issues: Incompatible API version with plugin"
Incompatible API version with plugin. Plugin version: 2, Ours: 4

[2017-03-21 10:00] igoraj commented on #130
False alert, needed rebuild.

[2017-03-21 10:00] #130 closed, assigned to nobody

[2017-03-21 10:12] igoraj opened #131 "Error deleting virtual guest, couldn't wait for zero active transactions: timeout while waiting for state to become 'idle'"
Terraform v0.9.1 (same issue also on v0.8.x)
terraform-provider-softlayer: deeab85 (current master) (same issue also on 1.4.0)

When destroying more than a dozen private VSIs it fails with the following errors:

[code]

[2017-03-21 12:51] renier commented on #128
@rbmateescu We could ask, why are you creating the same exact key from two different configs? Why not create in one, and use a [data source](https://github.com/softlayer/terraform-provider-softlayer/blob/master/docs/datasources/softlayer_ssh_key.md) from the other?

[2017-03-21 13:00] renier commented on #129
Works for me in the latest version.

[2017-03-21 13:05] renier commented on #131
@igoraj How long is it taking from when you issue the destroy to when it finally errors out?

[2017-03-21 13:07] igoraj commented on #129
i'm using master and latest terraform and i see this issue.
What exactly is resourceRecords property and who sets it?

[2017-03-21 13:09] igoraj commented on #131
@renier very quickly actually, the wait is only when "refresh state" is in progress, and once it proceeds to destroy it returns this issue immediately.

[2017-03-21 13:09] renier commented on #129
@igoraj Are you going over xmlrpc? (check ~/.softlayer)

[2017-03-21 13:11] igoraj commented on #129
@renier it would appear so
[code]

[2017-03-21 13:24] renier commented on #129
@igoraj It will work if you remove that line from your config

[2017-03-21 13:31] igoraj commented on #129
@renier confirmed it's working. ok.

[2017-03-21 13:42] renier commented on #131
@igoraj Strange because the default wait time for no transactions on the VSI is 90 minutes (previously 45 minutes). Was this also over xmlrpc?

[2017-03-21 13:44] igoraj commented on #131
@renier yep, same config was in place at the time of the issue. i can try again, but meanwhile i already destroyed those nodes manually so i need to recreate the environment and test again, however in the past i haven't had issues with that so unsure what has changed.
do you think it could be something on the backend API that would cause this?

[2017-03-21 13:51] rbmateescu commented on #128
These provisioning actions are part of a stress suite that deploys the same template and provide some metrics on the platform response times. In other words, the more resources created, the more relevant the test results. And SSH keys being one of the few free resources in SL, it was included in each template.

[2017-03-22 12:52] bonifaido opened #132 "Error when using softlayer_file_storage resource"
terraform apply throws the following error when applying the following resource:
[code]

[code]

[2017-03-22 19:07] minsikl commented on #132
The following configuration works:
[code]

Please post the configuration which generates the error.

[2017-03-22 20:04] bonifaido commented on #132
An example, that gives me a similar error message:
[code]

[code]

[2017-03-23 06:52] ivan-n16 commented on #132
@minsikl Both `Endurance` and `Performance` configurations above are working for me. Perhaps this could be an issue of user not having adequate permissions?
As per [this](https://sldn.softlayer.com/article/permission-enforcement-softlayer-api):

`The SoftLayer API treats a permission error like an object not found error, returning an exception stating that it can't find an object rather than say t

[2017-03-23 13:46] minsikl commented on #132
@ivan-n16 I found that the above example generates the error with xml-rpc.

[2017-03-23 14:47] bonifaido commented on #132
Hi, after changing the endpoint in my ~/.softlayer to `endpoint_url = https://api.softlayer.com/rest/v3` it works fine! Thanks.

[2017-03-27 21:09] athak commented on #131
We are seeing the same issue but we are not specifying an endpoint in the provider so I assume we are using REST.

[code]

[2017-03-27 21:11] renier commented on #131
@igoraj @athak Can you guys share config so that we can test over here and reproduce?

[2017-03-28 17:25] athak opened #133 "Clarify destruction of monthly resources"
When cancelling monthly resources from the panel, one has the option to choose if the the resource is cancelled immediately or on the account anniversary date.

When a monthly resource is destroyed in terraform, is it cancelled immediately or on the anniversary date? From previous tests, I assume it's on the anniversary date but wanted to confirm.

Thanks,
Atha

[2017-03-28 17:40] renier commented on #133
https://github.com/softlayer/terraform-provider-softlayer/blob/master/softlayer/resource_softlayer_virtual_guest.go#L910

http://sldn.softlayer.com/reference/services/SoftLayer_Virtual_Guest/deleteObject

Destruction of virtual guests is effective immediatedly.

Same goes for bare metals.

https://github.com/softlayer/terraform-provider-softlayer/blob/master/softlayer/resource_softlayer_bare_metal

[2017-03-28 17:40] #133 closed, assigned to nobody

[2017-03-28 17:44] athak commented on #133
@renier thanks for the prompt reply. Would be great if it was configurable. As it is, we either have to wait for the anniversary date or cancel via panel and then perform state surgery to remove the cancelled servers.

[2017-03-28 17:46] renier commented on #133
@athak Yes. Please open an issue for making it configurable, or you can re-title this one and reopen.

[2017-03-28 18:03] athak opened #134 "Provide option to reclaim monthly resources on the anniversary date"
As discussed in #133, deleted monthly resources are reclaimed immediately. Since the option to reclaim the resources on the anniversary date is available via the panel/API, it would be great if it was available via terraform too.

Thanks,
Atha

[2017-03-29 23:54] lgfa29 opened #135 "`softlayer_file_storage` requires a different IOPS value than what is stored in state"
When ordering a `softlayer_file_storage` resource you need to specify a value for `iops` which can be `0.25`, `2`, `4` or `10`.

But after the resource is created, the value stored in the Terraform state has more decimals, so, for example,`4` is stored as `4.096` and `10` is stored as `10.24`.

This causes a subsequent `terraform plan`  to incorrect flag the resource as needing to be recreated.

#

[2017-03-30 00:38] renier commented on #135
@ivan-n16

[2017-03-30 12:28] #135 closed, assigned to nobody

[2017-04-05 12:18] jvrplmlmn opened #137 "Binaries built with Terraform 0.9.X"
Hello @renier, I believe that you're one of the current maintainers of this repository.

Is the provider compatible with Terraform 0.9.X? If so, is there any plans to build and provide new binaries? Let me know if the codebase requires some adaptations to be compatible with `0.9.X`, I might be able to provide some man hours to help.

[2017-04-06 14:47] athak opened #139 "Removing all tags from instance/baremetal does not work"
When trying to remove all tags from an instance or baremetal server, the operation appears to complete successfully but the tags are not removed.

As long as there is at least one tag left, tags are removed without issue. It is only when all tags are removed that is the issue. We have to remove the tags using slcli.

Thanks,
Atha

[2017-04-06 16:08] athak opened #140 "Modifying disks of an existing instance has no effect"
When an instance is created with multiple disks, the operation completes successfully and all requested volumes are present without issues.

When adding or removing disks to an existing instance, the operation appears to complete successfully but returns too quickly and nothing happens. The instance's disks remain the same but the state is updated.

In order to maintain consistency, we modify the

[2017-04-06 18:54] jvrplmlmn opened #141 "softlayer_virtual_guest without os_reference_code fails to generate order template"
Terraform version:
[code]

with the SoftLayer provider:

Built against Terraform v0.̨9.2, using this commit: https://github.com/softlayer/terraform-provider-softlayer/commit/6e77b31a9321b7938bf4021983b9c670ef95d234

Terraform code:

[code]

[code]

[code]

[2017-04-06 19:24] renier commented on #141
Yes, this is working as expected. https://github.com/softlayer/terraform-provider-softlayer/blob/master/docs/resources/softlayer_virtual_guest.md

Either an image_id or an os_reference_code is required. We can't make it required at the terraform level, because you can't make two properties required _and_ mutually exclusive simultaneously (yet). So we let the API tell you about it.

[2017-04-06 19:24] #141 closed, assigned to nobody

[2017-04-07 12:18] jvrplmlmn commented on #141
Thanks for the clarification @renier 👍

[2017-04-19 14:52] athak commented on #66
I came across a comment by @mitchellh in [this issue](https://github.com/hashicorp/terraform/issues/5471) which basically is about the same functionalluty. He states that

hoping to provide a way in the future to unset a value.

Is this something that can be implemented? Our current pain points are with image_id, {public,private}_vlan_id. Allowing the use of 0 or other value as "unset" would great

[2017-04-19 15:15] renier commented on #66
@athak Have you tried setting those defaults to 0?

[code]

[2017-04-19 15:54] athak commented on #66
@renier yes, in the case of image_id it conflicts with os_reference_code. In the case of the vlan ids, 0 is initially accepted as a value and the instance is created  and a correct vlan id is assigned. However, once the instance is created, issuing a plan produces the following for example:

[code]

[2017-04-25 21:31] jvrplmlmn opened #143 "Management of custom baremetal builds"
Looking at the documentation for the [`softlayer_bare_metal`](https://github.com/softlayer/terraform-provider-softlayer/blob/master/docs/resources/softlayer_bare_metal.md) resource, I see that one of the required fields is `fixed_config_preset`.

Does this mean that we can only manage baremetals with a configuration preset using this resource?

My use case:  importing existing custom baremetal ser

[2017-04-25 21:40] jvrplmlmn commented on #139
According to this https://github.com/softlayer/softlayer-go/blob/58a39b003905ea63e4ad9bbfc48b3c9abfcea0bb/services/tag.go#L114

We should be able to fix this by removing this conditionals:

https://github.com/softlayer/terraform-provider-softlayer/blob/8deb988f3241f273c4031292a0ded8a7c19f101d/softlayer/resource_softlayer_bare_metal.go#L529

https://github.com/softlayer/terraform-provider-softlayer

[2017-04-25 22:15] athak commented on #143
We have managed to import existing baremetal server resources into our config via state surgery and passing an empty string to `fixed_config_preset`. We wrote a small script that queries the SL API and formats the JSON output to TF state.

[2017-04-25 22:26] renier commented on #143
Hi, yes, basically the bare metal presets are the only ones fully supported. There is already an issue (#18) under which this should be fixed (support for custom config bare metals)

[2017-04-25 22:26] #143 closed, assigned to nobody

[2017-04-26 05:21] jvrplmlmn commented on #143
@athak Any chance that you could share the script?

Thanks @renier, I've subscribed to that issue.

[2017-04-27 19:12] #132 closed, assigned to minsikl

[2017-04-27 19:14] #139 closed, assigned to nobody

[2017-04-27 20:42] renier commented on #137
@jvrplmlmn Please try release 1.5.0

[2017-04-27 20:42] #137 closed, assigned to nobody

[2017-05-02 08:44] tomwganem opened #147 "Subnet Resource"
I have a use case where I need to order a portable subnet as part of my infrastructure, but there doesn't seem to be a resource for it. Is this something on the road map?

[2017-05-03 16:37] renier commented on #140
@athak Could you provide a sample terraform configuration file that can be used to recreate, and the list of terraform commands you perform?

[2017-05-03 16:41] renier commented on #128
@rbmateescu I'm inclining towards leaving the code how it is. I don't think we should hide an error when something unexpected happens. Could cause other problems in other use cases.

It looks like the stress suite is re-using the same key across. It could be tweaked to generate unique keys for each instance maybe?

[2017-05-03 16:41] #128 closed, assigned to nobody

[2017-05-05 13:48] athak commented on #140
Hi @renier. Here is a sample config:
[code]
### Instance creation
`terraform plan` displays correctly:
[code]
And `terraform apply` also executes without issues:
[code]
The instance is created correctly with 2 volumes:
[code]
### Adding a disk
Changed `disks` parameter in .tf to `disks = [ 25, 25, 25 ]`

`terraform plan` displays:
[code]
`terraform apply` returns almost immediately claiming succes

[2017-05-07 09:56] tomwganem opened #148 "Global IP data source"
I follow an active/standby pattern with my terraform clusters. I'm currently in need of a global ip that can be transferred between terraform clusters, depending on which one is active. I think the best way to do this is to have a global ip datasource and control the global ip lifecycle outside of terraform.

[2017-05-11 07:31] tomwganem opened #149 "SOAP-ENV:Client Errors"
terraform version: v0.8.7+
terrafrom-provider-softlayer version: 580b8ef95af8f328023dda115a7dfa72294e61b3 and after

While working with terraform tonight, I started running into errors between terraform and softlayer.

[code]

I stashed the changes that I was working on and got the same error. I checked the 3 clusters that I have going on and ran into the error with all of them. I tried upgrading

[2017-05-11 12:32] athak commented on #149
@tomwganem this happened to us too. Are you using the xmlrpc endpoint for the provider? Or do you have a .softlayer file in your home dir (probably created by slcli) with the endpoint defined? In either case, comment/remove the endpoint definition and try again.

[2017-05-11 14:23] tomwganem commented on #149
Commenting out the endpoint in the .softlayer file in my home directory fixed the issue. Thank you @athak

[2017-05-15 17:20] athak commented on #143
@jvrplmlmn sorry didn't see this before. Can't share the whole script but basically we query the API with `curl` to `https://api.service.softlayer.com/rest/v3/SoftLayer_Hardware/[server_id].json?objectMask=[mask]` where mask is:
[code]
and then pipe the output to `jq`:
[code]
We then inject the resulting json fragment to the state under the corresponing module resources. Hope it helps!

[2017-05-17 17:10] jvrplmlmn commented on #18
@renier is there any update on this issue? Is custom baremetal support something in SoftLayer's roadmap?

[2017-05-19 04:00] killuazhu commented on #149
I run into the same issue, and this fix also works for me.

[2017-05-20 06:14] tomwganem commented on #148
Some more thoughts on the subject:

Would it be possible to not destroy a global ip resource when the "routes_to" attribute is updated?

Since softlayer supports having a global ip that is unrouted, and my use case for using global ips requires that I'm able to re-route them to different servers as needed, it would be extremely helpful if terraform could do that routing for me, as opposed to simpl

[2017-05-22 01:52] renier commented on #148
@tomwganem The global ip resource should already support updating the `routes_to` attribute without having to destroy the resource. If that is not how it works, you should file a separate bug for it.

[2017-05-22 10:40] steven4ibm opened #150 "New Terraform resource : Quote"
Hi,

I would like to provision infrastructures (monthly bare metals or others) based on their quote.

It is simple to parameter in Terraform : only the quoteId, the quantity, the hostname, the domain, the VLAN (optional) and the post-provisioning script (optional) are needed. You can prepare and check your device configuration using the web portal. The quote fixes the price of the configuration an

[2017-05-22 15:56] renier commented on #150
@steven4ibm Why do you need this?

[2017-05-26 13:36] minsikl commented on #150
A quote can be implemented as a terraform data source. Then, it will fetch parameters for a resource definition and the price.

[2017-05-26 19:20] minsikl commented on #148
@tomwganem If you want to update `routes_to` with terraform, you can edit the value of `routes_to` in `.tf` file and execute `terraform apply`. If you want to update `routes_to` using another system such as SL portal, you can use `ignore_change` block as follows:
[code]
Then, terraform will ignore the update even if the `routes_to` is updated in SL portal. If you want to protect global IP from ter

[2017-06-01 15:33] JimHart2 opened #152 "Disk Options - Per disk Local/Non-Local - Virtual Guest"
Softlayer allows options on a per disk basis for local or non-local storage in a Virtual Guest.  We are unable to choose which disks are local or non-local (SAN) when provisioning through Terraform. We need the option of having some disks persist if a Virtual Guest is migrated to another host (non-local disk) but other disks must be local for performance reasons and we can afford to lose the data

[2017-06-05 21:55] cbrinker opened #153 "'fixed_config_preset' forced required breaks 'import'"
The 'fixed_config_preset' option on bare_metal resource is preventing me from importing my pre-existing resources into the terraform state file.

https://github.com/softlayer/terraform-provider-softlayer/blob/master/softlayer/resource_softlayer_bare_metal.go#L157

The core problem is that when I issue a `terraform import softlayer_bare_metal.aname ID`  the entry that is imported contains an empty

[2017-06-05 22:07] athak commented on #153
@cbrinker we have left that parameter as "" in our .tf files without issues.

[2017-06-06 16:31] renier commented on #153
@cbrinker Only bare metals with a fixed config preset are supported currently.

Does athak's fix work for you?

[2017-06-07 17:06] cbrinker commented on #153
@renier yes, specifying an empty string does allow terraform to function. Can this workaround be added to the documentation so future users don't hit the same problem?

Thanks,
Chris

[2017-06-07 17:23] renier commented on #153
marking as a FAQ to allow others to filter on and find in the future.

[2017-06-07 17:23] #153 closed, assigned to nobody

[2017-06-08 14:53] JimHart2 opened #154 "Provider Crashes when State file is out of sync"
The Softlayer provider errors with "Unexpected EOF" messages and then crashes when the state file thinks that a resource should exist that does not exist in the SoftLayer Environment.

[2017-06-08 18:43] minsikl commented on #154
Could you share sample tf and state files which crash the terraform?

[2017-06-08 18:54] JimHart2 commented on #154
Attached files are the relevant parts of the config, the whole crash log, and the who state file.  This is a test environment.

[crash.log.txt](https://github.com/softlayer/terraform-provider-softlayer/files/1062069/crash.log.txt)
[terraform.tfstate.txt](https://github.com/softlayer/terraform-provider-softlayer/files/1062070/terraform.tfstate.txt)
[users.tf.txt](https://github.com/softlayer/terraf

[2017-06-20 02:50] minsikl commented on #147
@tomwganem PR is opened for `softlayer_subnet` resource. It will support Portable and Static subnets. Please review the [specification](https://github.com/softlayer/terraform-provider-softlayer/blob/feature-subnet/docs/resources/softlayer_subnet.md).

[2017-06-21 14:57] renier commented on #154
@minsikl How are you reproducing this bug?

I tried `terraform refresh` and `terraform plan` using the provided files but it doesn't crash on the version of terraform indicated by the state file (i.e. 0.9.5). I also tried a cleaner state file with only the _btran_ user, but it didn't crash like that either.

[2017-06-21 15:06] minsikl commented on #154
@renier You can reproduce this bug with the following step:
1) Create a user using terraform
2) Delete a user in SL Portal
3) execute `terraform refresh`

When a user is deleted, it has remained with "CANCEL_PENDING" status in a specific period. Although a user ID still exists, the user information is already removed. When `terraform refresh` is executed, isExist returns `true` as the ID still exi

[2017-06-21 15:33] ashishth09 opened #157 "Updating the core on the virtual_guest throws SoftLayer_Exception_Order_InvalidData"
Core update always worked for me. I am not sure if this is some change in the SL API side. Let me know.

I was trying to update the core after the vm was created from 1->2

[code]

`terraform apply` works fine and the resource is created.

Change core from 1 to 2 like so and then apply
[code]

It gives me the below error:

[code]

[2017-06-21 15:38] ashishth09 commented on #157
To add to that I used the latest release on this repo and terraform version `0.9.3`

[2017-06-22 08:45] jvrplmlmn opened #159 "Upcoming Provider Changes in Terraform 0.10"
Hashicorp recently announced the following: [Upcoming Provider Changes in Terraform 0.10](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/)

Changelog: https://github.com/hashicorp/terraform/blob/master/CHANGELOG.md#0100-beta1-unreleased

How will this affect the development of this provider? Will it be migrated to https://github.com/terraform-providers/terraform-provide

[2017-06-22 16:04] renier commented on #159
That will be taken care off when we merge/transform into the terraform-provider-ibm in the near future (this year)

[2017-06-22 16:04] #159 closed, assigned to nobody

[2017-06-22 20:13] #157 closed, assigned to minsikl

[2017-06-23 17:41] #154 closed, assigned to minsikl

[2017-07-11 15:35] igoraj commented on #140
We have also experienced this issue when modifying disk size on existing instance (e.g. increasing from 10G=>20G).

`terraform plan` displays the change correctly:
[code]
`terraform apply` finishes instantly:
[code]

but API upon curl call on `/rest/v3/SoftLayer_Virtual_Guest` still returns:
[code]

and actual disk was never changed although terraform thinks it was.

[2017-07-14 18:30] gkrash opened #162 "Is there a way to order performance / endurance storage here that I'm missing?"
I don't think I see a way to do this easily here (outside of using a null resource, and running a local shell command to procure the disk).  Both need to be able to procure disk in general, as well as "assign" it to specific resources..

Is there a different suggested method here?

  Thanks..

[2017-07-17 16:30] athak commented on #162
@gkrash there are `softlayer_block_storage` and `softlayer_file_storage` resources that should do what are you are asking for.

[2017-07-17 18:03] gkrash commented on #162
I was hoping I was just being dense :) - thanks for the pointer @ the resources.  - I was looking for storage, not block storage - must have been staring at my screen for too long.

Thanks again for the help!

[2017-07-17 18:04] #162 closed, assigned to nobody

[2017-07-29 00:01] Clarabridge-Jeff-Johnston opened #163 "Can't seem to set ipv4_address_private in softlayer_virtual_guest"
softlayer_virtual_guest.$resource: "ipv4_address_private": this field cannot be set

It appears looking at the code it won't let me set it, despite the terraform documentation saying very much the opposite at https://www.terraform.io/docs/providers/softlayer/r/virtual_guest.html

Is there any chance at getting this implemented or was it torn out due to causing some issues?  Did it never work?

I h

[2017-07-29 00:21] Clarabridge-Jeff-Johnston commented on #163
I got around it using null resources and ssh connection FWIW.  Maybe reach out to the terraform people and tell them their documentation is out of date.

[2017-07-29 01:53] renier commented on #163
Yes, that field is read only. See https://github.com/softlayer/terraform-provider-softlayer/blob/master/docs/resources/softlayer_virtual_guest.md. The docs at terraform.io are outdated and have errors.

We are moving over to a new provider repo that should allow you to provision two hosts and an NFS storage in one apply action: https://github.com/IBM-Bluemix/terraform-provider-ibm

[2017-07-29 01:53] #163 closed, assigned to nobody

[2017-08-07 23:52] tomwganem opened #164 "Creating a vpx load balancer causes terraform to interpolate vlan incorrectly"
Using
[code]
I am trying to use terraform to spin up a vpx load balancer attached to private and public vlan that I also control with terraform. Spinning up the vpx load balancer works fine, except the problem now is that when I do a terraform plan, terraform thinks I need to make a new vlan, because it interprets the first child subnet, which is now the subnet created when I spun up the vpx, as t

[2017-08-11 18:51] deniskin82 commented on #152
@JimHart2 there is such option: https://github.com/softlayer/terraform-provider-softlayer/blob/master/softlayer/resource_softlayer_virtual_guest.go#L316-L321

[2017-08-13 20:27] andrew-morris commented on #149
Ran into the same issue. Had forgotten that I had just installed the `slcli` tool. Commented out the API endpoint in my `~/.softlayer` and was good to go.

Could generate a warning or debug message to `stdout` or `stderr` when this file is detected and overrides something Terraform was going to do?

[2017-08-22 18:50] bondyk opened #166 "Unable to create a virtual guest: 'request canceled'"
I'm trying to create a new Virtual Guest but terraform fails with error 'Error ordering virtual guest: Post https://api.softlayer.com/rest/v3/SoftLayer_Product_Order/placeOrder.json: net/http: request canceled (Client.Timeout exceeded while awaiting headers)'. I tried couple of times but the result is the same but it worked yesterday and before

Terraform: 0.9.11
terraform-provider-softlayer: 1.5.

[2017-08-22 21:16] renier commented on #166
You should open a ticket with SoftLayer. A timeout indicates an issue on the server side, when the action used to take less time previously.

Meanwhile, you can try increasing the value of `wait_time_minutes`. You can also configure the base http timeout used to communicate with the API by setting `SL_TIMEOUT` env var (default is 2 minutes) or adding something like `timeout = 180` to _~/.softlayer

[2017-08-22 21:16] #166 closed, assigned to nobody

[2017-08-23 13:43] bondyk commented on #166
Thanks!
Looks like it was temporary issue with SoftLayer API. Today it works well.

[2017-08-23 22:57] tomwganem opened #167 "Enhancement: update softlayer_lb_vpx resource to have management_ip_address attribute"
The reason: When configuring vpx services to report the source ip of connections to the server, one needs to configure the default gateway of the server to the management ip address of the vpx.

[2017-08-23 23:08] tomwganem opened #169 "Enhancement: ability to configure vpx service to report source ip"

[2017-08-24 14:03] yanglei99 opened #171 "Cookbooks for other cluster like Mesosphere DC/OS"
I would like to contribute other cookbooks for cluster type like Mesosphere DC/OS, Slurm... Here are the source: https://github.com/yanglei99/terraform_softlayer. Thanks.

[2017-08-24 15:55] renier commented on #171
Thanks!

[2017-08-24 15:55] #171 closed, assigned to nobody

[2017-08-25 15:17] athak opened #172 "Errors on instance modification"
Lately, when trying to modify an instance's cores and/or memory, we get a lot of these types of errors:

```* softlayer_virtual_guest.instance: Couldn't upgrade virtual guest: SoftLayer_Exception_Order_Item_Invalid: Invalid price 32 GB (Dedicated Host) (200365) provided on the order container. Please select a dedicated instance RAM price to order a dedicated instance. (HTTP 500)```

The instances

[2017-08-25 18:39] tomwganem opened #173 "softlayer_lb_vpx_ha seems to break other vpx resources"
The password syncing of the the vpx instances messes things up. The root password will be changed in the vpx instance, but the old password, retrieved via the softlayer api, will still be used. Also, it looks like it's impossible to update the password that exists in the softlayer api, so I can't think of a good way around it.

A snippet of terraform code

[code]

The error I'm seeing
[code]

[2017-08-25 22:14] tomwganem commented on #173
In my experimentation, it seems to me that the way around this is to create a user with superuser permissions in each vpx instance with identical passwords and usernames and use that user to setup the HA.

In any case, the first step in https://knowledgelayer.softlayer.com/articles/netscaler-vpx-10-high-availability-setup is just plain wrong.

[2017-08-28 13:41] #167 closed, assigned to nobody

[2017-08-29 04:55] tomwganem commented on #173
More discovery: The main problem is that I didn't realize that pairing twp VPX load balancers would sync the configuration from the primary to the secondary, which includes the root password. Ultimately, that means that if intend on creating a second VPX to use for HA, you don't need to/can't create any vips or services on it. You create all your configuration on the primary VPX and it will be syn

[2017-08-29 04:55] #173 closed, assigned to nobody

[2017-08-29 04:59] tomwganem opened #175 "Enhancement: Ability to set VPX RNAT."
Goes hand in hand with #167 and #169. If you want to configure a vpx to report client ip addresses to the services its load balancing, you need to set the default gateway on the servers to the management ip address of the vpx, then create a RNAT route on the vpx.

http://docs.citrix.com/zh-cn/netscaler/11/nitro-api/nitro-rest/api-reference/configuration/network/rnat.html

https://docs.citrix.com/k

[2017-08-30 14:57] athak commented on #172
This is becoming increasingly more frequent. We are now almost unable to modify any existing instances via terraform, having to resort to the control panel.

We see here https://softlayer.github.io/release_notes/2017/20170803/ that a change was made to the API to expose the SoftLayer_Virtual_DedicatedHost Service. Could it be related? The timing of when these issues started certainly matches. Is t

[2017-09-05 19:26] #164 closed, assigned to nobody

[2017-09-05 19:27] #169 closed, assigned to nobody

[2017-09-11 17:56] hassenius opened #176 "Enhancement: Ability to provision multiple virtual guests"
It would be great to have parameter "count" or similar to be able to provision multiple virtual guest instances in a go.

[2017-09-11 17:58] hassenius commented on #176
never mind, I'm being silly.

[2017-09-11 17:58] #176 closed, assigned to nobody

[2017-09-26 11:25] adriananeci opened #177 "Build #489 (Add dedicated host option to virtual guest (#170)) failed"
It seems that the Build #489 failed most probably due to the old version of go.
I've also tried to build the project with make bin using Terraform v0.10.6 and go version go1.9 but still encountered some errors:
[code]
Could be the terraform version which is causing these errors?

[2017-09-28 20:51] c4po commented on #177
Yes, terraform make the "id" a reserver filed name
https://github.com/hashicorp/terraform/commit/67ceb1ab07acd55ebc0d7b6efb39019e73fd1888

[2017-10-13 09:46] bonifaido opened #178 ""id" is now a reserved field name in Terraform"
This happens when using Terraform 0.10.7:

1 error(s) occurred:

* provider.softlayer: Internal validation of the provider failed! This is always a bug
with the provider itself, and not a user issue. Please report
this bug:

19 error(s) occurred:

* resource softlayer_block_storage: id is a reserved field name for a resource
* resource softlayer_virtual_guest: id is a reserved field name for a res

[2017-10-13 13:08] renier commented on #178
Duplicate of #177

[2017-10-13 13:08] #178 closed, assigned to nobody

[2017-10-29 03:03] c4po opened #181 "terraform require go 1.9+"
need upgrade go from 1.8 to 1.9 in travis

[2017-10-30 13:15] #181 closed, assigned to nobody

[2017-11-07 18:59] robertlabrie opened #183 "softlayer provider at hashicorp releases out of date"
Or so it seems anyway. Is 0.0.1 the same as 1.5.0 when released here at GH? Any reason why SL isn't releasing through hashicorp?
[code]

[2017-11-15 17:09] patrocinio opened #184 "Provide a way to specify user and password during Windows VM provisioning"
I understand we can pass SSH key during VM provisioning, but I would like to specify a user / pwd combination for my Windows provisioning

[2017-11-15 21:12] leonsp opened #185 "Provide a way to specify public_bandwidth for softlayer_virtual_guest"
`terraform-provider-softlayer` lets me specify public bandwidth for [softlayer_bare_metal](https://github.com/softlayer/terraform-provider-softlayer/blob/e744d7034702e85c0b6a16ec7f6759a6f6699cc0/docs/resources/softlayer_bare_metal.md) but not for [softlayer_virtual_guest](https://github.com/softlayer/terraform-provider-softlayer/blob/master/docs/resources/softlayer_virtual_guest.md). I have a virt

[2017-12-05 16:05] #177 closed, assigned to nobody

[2018-05-08 21:10] jvrplmlmn opened #186 "SoftLayer Virtual Guest: Add boot mode options (PV / HVM)"
Related with https://github.com/softlayer/softlayer-go/issues/96 (which I actually intended to open here 😅 )

Is this something that could land on the provider?

[2018-06-26 21:24] ghost opened #187 "Any Idea how to chase this down?"
[code]

[2018-06-27 02:47] ghost commented on #187
This is an issue with the cloud provider IBM Softlayer and one stubborn firewall.

[2018-06-27 02:47] #187 closed, assigned to nobody

[2018-07-02 20:29] aaronmcohen commented on #183
Are there any blockers to this?

[2018-07-03 11:00] jvrplmlmn commented on #186
@renier any chance that we could get some help on this one?

[2018-08-23 16:51] hirodotp opened #188 "Changes to softlayer_bare_metal resource does not affect resource"
It appears changing items such as "os_reference_code" does not cause the OS to be reloaded on the baremetal system.  I created a module that implements a softlayer_bare_metal resource, imported an existing baremetal by ID and when I run terraform plan after changing "os_reference_code" to a different operating system, no changes are staged.  Is this expected behavior?  It seems like there should b

[2018-09-20 19:00] gkrash opened #189 "Block Storage Ordering issue"
For some reason ordering block storage isn't consistent..

From FRA02,

If I order 100 GB Performance @ 1000 IOPS, it works fine.

Using the same code (different resource name), if I order 4000 GB Performance @ 8000 IOPS it fails with:
`Error while creating storage:No product items matching with keyName 8000_IOPS and categoryCode performance_storage_iops could be found`

I can successfully order t

[2019-07-16 13:20] alxmk opened #190 "Add deprecation notice"
According to the [terraform documentation](https://www.terraform.io/docs/providers/softlayer/index.html?origin_team=T4LT36D1N) this provider is deprecated in favour of https://github.com/IBM-Cloud/terraform-provider-ibm.

It would be very helpful if a similar deprecation notice could be added on this repository in order to direct people who find this one to the replacement.

[2019-07-16 16:07] #190 closed, assigned to nobody

[2020-02-18 18:51] #186 closed, assigned to nobody

[2021-02-22 18:37] rakesh-von commented on #131
Hi,

I have same issue but i am using ansible collections. Has this been resolved?

[2021-02-22 18:43] igoraj commented on #131
@rakesh-von we have in the end moved away from IBM so not sure what happened with this issue. That said afaik all softlayer modules have been deprecated and replaced by IBM modules, so try https://github.com/IBM-Cloud/terraform-provider-ibm.